.homepage_logo {
    width: 500px;
    display: block;
    margin: 0 auto;
    padding-top: 250px;
}


.active-pink-2 input[type="text"]:focus:not([readonly]) {
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;

}

.searchbar {
    display: block;
    align-items: center;
    margin: 0 auto;

}
